  .NavLink{
    margin-top: 8px;
    /* display: none; */

  }

  .Profile-style{
    margin-top: 8px;
  }

  .NavLinkMob{
    /* margin-top: 8px; */
    display: block;

  }

  .HamburgerIcon {
    display: block;
    cursor: pointer;
  }


  @media screen and (max-width: 600px) {
    .NavLinkMob {
      display: none;
    }

    .HamburgerIcon {
      display: none;
    }

  }